<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,600,800,700,500,300,100,900' rel='stylesheet' type='text/css'>
          <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,700italic' rel='stylesheet' type='text/css'>
          <link href= {{ asset('css/bootstrap.css') }} rel='stylesheet' type='text/css'/>
          <link href= {{ asset('css/style.css') }} rel="stylesheet" type="text/css" media="all"/>
          <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}{% endblock %}
    </head>
    <body>
      {% block nav %}
      <!--topheader starts-->
      <div class="strip">
           <div class="top-menu">
             <span class="menu"> </span>
             <ul>
               {% set routeSelected = app.request.attributes.get('_route') %}
               <li class="{% if routeSelected == 'barco_homepage'%}active{% endif %}"><a href= "{{path('barco_homepage')}}">Incio</a></li>
               <li class="{% if (routeSelected == 'barco_venta' or routeSelected == 'barco_detalle') %}active{% endif %}"><a href= "{{path('barco_venta')}}">Barcos</a></li>
               <li class="{% if (routeSelected == 'amarre_venta' or routeSelected == 'amarre_detalle') %}active{% endif %}"><a href="{{path('amarre_venta')}}">Amarres</a></li>
               <li class="{% if (routeSelected == 'accesorio_venta' or routeSelected == 'accesorio_detalle') %}active{% endif %}"><a href="{{path('accesorio_venta')}}">Accesorios</a></li>
               <li class="{% if (routeSelected == 'barco_add') %}active{% endif %}"><a href="{{path('barco_add')}}">Añadir Barco</a></li>
                <div class="clearfix"></div>
             </ul>
             </div>
      <!----- script-for-nav ---->
      <script>
            $( "span.menu" ).click(function() {
              $( ".top-menu ul" ).slideToggle( "slow", function() {
                // Animation complete.
              });
            });
      </script>
      </div>
      <!----- script-for-nav ---->
      {% endblock %}
        {% block body %}


        {% endblock %}
        {% block footer %}
        <div class="fotter">
             <div class="container">
        		 <div class="fotter-info">
        			 <div class="fotter-logo">
        			 <a href= "{{path('barco_homepage')}}"><img src="images/logo.png" alt=""/></a>
        			 </div>
        			 <div class="fotter-menu">
        				 <ul>
        					 <li><a href= "{{path('barco_homepage')}}">Inicio</a></li>
        					 <li><a href="{{path('barco_venta')}}">Barcos</a></li>
        					 <li><a href="{{path('amarre_venta')}}">Amarre</a></li>
        					 <li><a href="{{path('accesorio_venta')}}">Accesorios</a></li>
        						<div class="clearfix"></div>
        				 </ul>
        			 </div>
        			 <div class="social-icons">
        				 <a href="#"><span class="fb"> </span></a>
        				 <a href="#"><span class="twt"> </span></a>
        				 <a href="#"><span class="gog"> </span></a>
        				 <a href="#"><span class="in"> </span></a>
        				 <a href="#"><span class="pin"> </span></a>
        			 </div>
        			 <div class="clearfix"></div>
        		  </div>
        	 </div>
        </div>
        {% endblock %}
    </body>
</html>
